# Numpy Practice

### Importing necessary libraries

In [314]:
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import pandas as pd


### 1-D Array

In [315]:
a = np.array([1, 3, 5])
b = np.array([2, 4, 6])

print(a)
print(b)

[1 3 5]
[2 4 6]

### How to multiply 2 Matrix element by element?

In [316]:
c = a*b
print(c)

[ 2 12 30]

### 2D array

In [317]:
d2 = np.array([[1,2,3],[3,4,5]])
print(d2)

[[1 2 3]
 [3 4 5]]

### Get dimensions of an array

In [318]:
print(d2.ndim)

2

In [319]:
#change data type of an array
b = np.array([1, 2, 3], dtype='int16')
print('b =', b)

#get data type
print('data type =',b.dtype)

#print per item size of the array
print('each item size =' , b.itemsize)

#print total size (in item number) of array 
print('total item no =', b.size)

b = [1 2 3]
data type = int16
each item size = 2
total item no = 3

In [320]:
#print total size (in byte)
print('total byte size =', b.size * b.itemsize)

#Alternate way to get total size (in byte)
print('total size (byte) =', b.nbytes)

total byte size = 6
total size (byte) = 6

In [321]:
#get shape
print(b.shape)
print(d2.shape)

(3,)
(2, 3)

## Accessing, changing element of array

In [322]:
#2-D array
a = np.array([[1,2,3,4,5,6], [6,5,4,3,2,1], [1,2,3,4,5,6]])
print(a)

[[1 2 3 4 5 6]
 [6 5 4 3 2 1]
 [1 2 3 4 5 6]]

In [323]:
print(a.shape)

(3, 6)

In [324]:
#get a specific element
print(a[1,-6])

6

In [325]:
#get a row
print(a[1,:])

#get a column
print(a[:, 0])

[6 5 4 3 2 1]
[1 6 1]

In [326]:
#loop on index {start: end: increment} -> excluding the end index
print(a[1, 1:5:2])
print(a[1, 1:-2:2])

[5 3]
[5 3]

In [327]:
#modify
a[1,4] = 100
print(a)

a[:,4] = 200
print(a)
a[1, :] = 300

print(a)

[[  1   2   3   4   5   6]
 [  6   5   4   3 100   1]
 [  1   2   3   4   5   6]]
[[  1   2   3   4 200   6]
 [  6   5   4   3 200   1]
 [  1   2   3   4 200   6]]
[[  1   2   3   4 200   6]
 [300 300 300 300 300 300]
 [  1   2   3   4 200   6]]

In [328]:
#3-d array
a = np.array([[[1,2], [2,3]], [[3,4], [4,3]]])
print(a)

[[[1 2]
  [2 3]]

 [[3 4]
  [4 3]]]

In [329]:
# access 3-d
print(a[:,:,1])

[[2 3]
 [4 3]]

### Initializing different type of arrays

In below operation ```np.zeros(5, 5)``` doesn't work because, the second parameter is supposed to be `dtype`.

In [330]:
#fill with zeros
# z = np.zeros((5, 5, 5))...
z = np.zeros((5, 5))
print(z)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

In [331]:
#fill with ones
ones = np.ones((5, 5))
print(ones)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In below cell, ```np.full``` function takes parameter `a.shape` but ```np.full_like``` takes `a` as parameter.

In [332]:
#fill with other numbers
# full ((shape), value, dtype)
print(a)
print('-----a------')
x = np.full(a.shape, 99)
print(x)
print('------x99-----')

x = np.full_like(a,9)
print(x)
print('------x9-----')

[[[1 2]
  [2 3]]

 [[3 4]
  [4 3]]]
-----a------
[[[99 99]
  [99 99]]

 [[99 99]
  [99 99]]]
------x99-----
[[[9 9]
  [9 9]]

 [[9 9]
  [9 9]]]
------x9-----

`np.random.rand()` doesn't take a `tuple` as parameter. It takes 1 or more integers as `row` and `column` of the array.

In [333]:
# random array
r = np.random.rand(4, 3, 2)
print(r)

[[[0.1927217  0.70030991]
  [0.3205251  0.37029542]
  [0.33227756 0.54374355]]

 [[0.23047124 0.78586622]
  [0.72717666 0.51635906]
  [0.26909859 0.60644676]]

 [[0.0679818  0.59771715]
  [0.14001211 0.59770785]
  [0.76193291 0.66534971]]

 [[0.61783327 0.74175443]
  [0.25135689 0.76335561]
  [0.94655714 0.80716157]]]

As `np.randpm.rand()` doesn't take tuple and `a.shape` returns a tuple, so, `np.random.rand()` can't take `a.shape` as parameter value. So, `np.random.rand(a.shape)` doesn't work. For tuple passing, use `np.random.random_sample((4,3))`

In [334]:
# random array but shape of others
# print(np.random.rand(a.shape)) -> doesn't work

r = np.random.random_sample((4,3)) #it works
rr = np.random.random_sample(a.shape)
print(r)
print('_________________________________')
print(rr)

[[0.9438433  0.87988643 0.85912709]
 [0.10029998 0.78357395 0.48504643]
 [0.73908872 0.39253597 0.398486  ]
 [0.39358327 0.04883552 0.55446959]]
_________________________________
[[[0.13167748 0.4009431 ]
  [0.28720746 0.38185621]]

 [[0.45061794 0.00172017]
  [0.42326739 0.38019697]]]

### Random integer

In [335]:
#array of rand int (starting number, ending number {exclusive}, size = (shape of array))
# ri = np.random.randint(1, -3, size=(3,3)) # won't work
ri = np.random.randint(1, 3, size=(3,3))
print(ri)

[[1 2 1]
 [1 2 2]
 [2 1 2]]

In [336]:
# identity matrix 
I = np.identity(5)
print(I)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

### Repeat an array

In [337]:
# repeat array
arr = np.array([1,2,3])
rp = np.repeat(arr, 3)
print(rp)

[1 1 1 2 2 2 3 3 3]

In [338]:
# repeat array
arr = np.array([[1,2,3]])
rp = np.repeat(arr, 3, axis = 0)
print(rp)

[[1 2 3]
 [1 2 3]
 [1 2 3]]

### Making a specific array
Like this - 
```
1 1 1 1 1
1 0 0 0 1
1 0 9 0 1
1 0 0 0 1
1 1 1 1 1
```

In [339]:
ans = np.ones((5,5), dtype='int64')
print(ans)

[[1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]]

In [340]:
z = np.zeros((3,3))
z[1,1] = 9
print(z)

[[0. 0. 0.]
 [0. 9. 0.]
 [0. 0. 0.]]

In [341]:
ans[1:4, 1:4] = z
print(ans)

[[1 1 1 1 1]
 [1 0 0 0 1]
 [1 0 9 0 1]
 [1 0 0 0 1]
 [1 1 1 1 1]]

## Copying arrays need Attention!!!
`=` does pointer assignment.

In [342]:
# xxxxxxxxxxxxxxxxxxxxxxx doesn't work
# = means assignment
a = np.array([1,2,3])
print(a)
b = a
print(b)
b[1] = 99
print(b)
print(a)

[1 2 3]
[1 2 3]
[ 1 99  3]
[ 1 99  3]

In [343]:
a = np.array([1,2,3])
print(a)
b = a.copy()
print(b)
b[1] = 99
print(b)
print(a)

[1 2 3]
[1 2 3]
[ 1 99  3]
[1 2 3]

# Mathematics

In [344]:
a

array([1, 2, 3])

In [345]:
# adds with all elements
a = a + 2
a = a - 2
a

array([1, 2, 3])

In [346]:
b = np.array([[1,2,3], [3,4,5]])
b + 100
b * 100
b / 100

array([[0.01, 0.02, 0.03],
       [0.03, 0.04, 0.05]])

In NumPy, `*` doesn't mean `matrix multiplication`. It's just element by element multiplication.

In [351]:
b = np.array([[1,2,3], [3,4,5]])
print(b * 100)

[[100 200 300]
 [300 400 500]]

In [347]:
x = np.array([[1,2,3], [3,4,5]])
y = np.array([100,200, 300])
print(y / x) # it works surprisingly! 
print(x / y)

[[100.         100.         100.        ]
 [ 33.33333333  50.          60.        ]]
[[0.01       0.01       0.01      ]
 [0.03       0.02       0.01666667]]

In [348]:
# power
x ** 2

array([[ 1,  4,  9],
       [ 9, 16, 25]])

In [349]:
# trigonometry
np.sin(x)

array([[ 0.84147098,  0.90929743,  0.14112001],
       [ 0.14112001, -0.7568025 , -0.95892427]])

# Linear Algebra

`Matrix Multiplication` needs `np.matmul` function.

In [357]:
a = np.full((3,4), 9)
print(a)

b = np.full((4,5), 8)
print(b)

c = np.matmul(a,b)
print(c)

[[9 9 9 9]
 [9 9 9 9]
 [9 9 9 9]]
[[8 8 8 8 8]
 [8 8 8 8 8]
 [8 8 8 8 8]
 [8 8 8 8 8]]
[[288 288 288 288 288]
 [288 288 288 288 288]
 [288 288 288 288 288]]

In [370]:
#determinent

I = np.identity(5) * 29
print(I)
print(np.linalg.det(I))

[[29.  0.  0.  0.  0.]
 [ 0. 29.  0.  0.  0.]
 [ 0.  0. 29.  0.  0.]
 [ 0.  0.  0. 29.  0.]
 [ 0.  0.  0.  0. 29.]]
20511148.999999985

# Statistics

In [372]:
s = np.array([[1,2,3],[4,5,6]])
print(s)

[[1 2 3]
 [4 5 6]]

In [373]:
np.min(s)

1

In [374]:
np.max(s)

6

`axis = 0` means iterating over `columns` and `axis = 1` means iterating over `rows`.

In [379]:
print(np.min(s, axis = 0)) #colms
print(np.min(s, axis = 1)) #rows

[1 2 3]
[1 4]

In [380]:
np.sum(s)

21

In [384]:
print(s)
print('----------------')

print(np.sum(s, axis = 0))
print(np.sum(s , axis = 1))

[[1 2 3]
 [4 5 6]]
----------------
[5 7 9]
[ 6 15]

# Reorganizing arrays

For reshaping, multiplication of the dimensions must be equal to total element number.

In [403]:
before = np.array([[1,2,3,4,5], [6,7,8,9,0], [2,4,6,8,9]])
print(before)

# reshape 
after  =  before.reshape((5,3))
print(after)

[[1 2 3 4 5]
 [6 7 8 9 0]
 [2 4 6 8 9]]
[[1 2 3]
 [4 5 6]
 [7 8 9]
 [0 2 4]
 [6 8 9]]

`hstack` - horizontal stack
`vstack` - vertical stack

In [411]:
a = np.array([[1,2,3], [1, 3, 5]])
b = np.array([[4,5,6], [7,8,9]])
print(np.vstack((a, b)))
print(np.hstack((a, b)))

[[1 2 3]
 [1 3 5]
 [4 5 6]
 [7 8 9]]
[[1 2 3 4 5 6]
 [1 3 5 7 8 9]]

# Miscellaneous

In [415]:
#load data from text file
filedata = np.genfromtxt('/media/shamiul93/Study-and-Programming/Machine-Learning-Git/Basic-NumPy-Practice/ex1data1.txt',
                         delimiter=',')
print(filedata)

[[ 6.1101  17.592  ]
 [ 5.5277   9.1302 ]
 [ 8.5186  13.662  ]
 [ 7.0032  11.854  ]
 [ 5.8598   6.8233 ]
 [ 8.3829  11.886  ]
 [ 7.4764   4.3483 ]
 [ 8.5781  12.     ]
 [ 6.4862   6.5987 ]
 [ 5.0546   3.8166 ]
 [ 5.7107   3.2522 ]
 [14.164   15.505  ]
 [ 5.734    3.1551 ]
 [ 8.4084   7.2258 ]
 [ 5.6407   0.71618]
 [ 5.3794   3.5129 ]
 [ 6.3654   5.3048 ]
 [ 5.1301   0.56077]
 [ 6.4296   3.6518 ]
 [ 7.0708   5.3893 ]
 [ 6.1891   3.1386 ]
 [20.27    21.767  ]
 [ 5.4901   4.263  ]
 [ 6.3261   5.1875 ]
 [ 5.5649   3.0825 ]
 [18.945   22.638  ]
 [12.828   13.501  ]
 [10.957    7.0467 ]
 [13.176   14.692  ]
 [22.203   24.147  ]
 [ 5.2524  -1.22   ]
 [ 6.5894   5.9966 ]
 [ 9.2482  12.134  ]
 [ 5.8918   1.8495 ]
 [ 8.2111   6.5426 ]
 [ 7.9334   4.5623 ]
 [ 8.0959   4.1164 ]
 [ 5.6063   3.3928 ]
 [12.836   10.117  ]
 [ 6.3534   5.4974 ]
 [ 5.4069   0.55657]
 [ 6.8825   3.9115 ]
 [11.708    5.3854 ]
 [ 5.7737   2.4406 ]
 [ 7.8247   6.7318 ]
 [ 7.0931   1.0463 ]
 [ 5.0702   5.1337 ]
 [ 5.8014   1.844  ]
 [11.7      8.0043 ]
 [ 5.5416   1.0179 ]
 [ 7.5402   6.7504 ]
 [ 5.3077   1.8396 ]
 [ 7.4239   4.2885 ]
 [ 7.6031   4.9981 ]
 [ 6.3328   1.4233 ]
 [ 6.3589  -1.4211 ]
 [ 6.2742   2.4756 ]
 [ 5.6397   4.6042 ]
 [ 9.3102   3.9624 ]
 [ 9.4536   5.4141 ]
 [ 8.8254   5.1694 ]
 [ 5.1793  -0.74279]
 [21.279   17.929  ]
 [14.908   12.054  ]
 [18.959   17.054  ]
 [ 7.2182   4.8852 ]
 [ 8.2951   5.7442 ]
 [10.236    7.7754 ]
 [ 5.4994   1.0173 ]
 [20.341   20.992  ]
 [10.136    6.6799 ]
 [ 7.3345   4.0259 ]
 [ 6.0062   1.2784 ]
 [ 7.2259   3.3411 ]
 [ 5.0269  -2.6807 ]
 [ 6.5479   0.29678]
 [ 7.5386   3.8845 ]
 [ 5.0365   5.7014 ]
 [10.274    6.7526 ]
 [ 5.1077   2.0576 ]
 [ 5.7292   0.47953]
 [ 5.1884   0.20421]
 [ 6.3557   0.67861]
 [ 9.7687   7.5435 ]
 [ 6.5159   5.3436 ]
 [ 8.5172   4.2415 ]
 [ 9.1802   6.7981 ]
 [ 6.002    0.92695]
 [ 5.5204   0.152  ]
 [ 5.0594   2.8214 ]
 [ 5.7077   1.8451 ]
 [ 7.6366   4.2959 ]
 [ 5.8707   7.2029 ]
 [ 5.3054   1.9869 ]
 [ 8.2934   0.14454]
 [13.394    9.0551 ]
 [ 5.4369   0.61705]]

## Boolean masking and Advanced indexing

In [422]:
# filedata < 50

filedata[filedata < 5]

array([ 4.3483 ,  3.8166 ,  3.2522 ,  3.1551 ,  0.71618,  3.5129 ,
        0.56077,  3.6518 ,  3.1386 ,  4.263  ,  3.0825 , -1.22   ,
        1.8495 ,  4.5623 ,  4.1164 ,  3.3928 ,  0.55657,  3.9115 ,
        2.4406 ,  1.0463 ,  1.844  ,  1.0179 ,  1.8396 ,  4.2885 ,
        4.9981 ,  1.4233 , -1.4211 ,  2.4756 ,  4.6042 ,  3.9624 ,
       -0.74279,  4.8852 ,  1.0173 ,  4.0259 ,  1.2784 ,  3.3411 ,
       -2.6807 ,  0.29678,  3.8845 ,  2.0576 ,  0.47953,  0.20421,
        0.67861,  4.2415 ,  0.92695,  0.152  ,  2.8214 ,  1.8451 ,
        4.2959 ,  1.9869 ,  0.14454,  0.61705])

In [424]:
# index can be a list
f = np.array([1,2,3,4,5,6,7])
f[[0,3,4]]

array([1, 4, 5])

##### Check if there is even a single element in that row or column satisfying our condition

In [432]:
np.any(((filedata > 10) & (filedata < 15)) , axis = 1)

array([False, False,  True,  True, False,  True, False,  True, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
        True,  True, False, False, False,  True, False, False, False,
       False, False,  True, False, False, False,  True, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False,  True, False, False,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False])

In [451]:
e = np.arange(1, 31, 1)
e = e.reshape((6,5))
# e[2:4, 0:2]
e[[0, 1, 2, 3], [1, 2, 3, 4]]

array([ 2,  8, 14, 20])